{% load static %}
<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion toggled" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'index' %}">
        <div class="sidebar-brand-icon">
            <i class="fas fa-desktop"></i>
        </div>
        <div class="sidebar-brand-text mx-3">VozSMS <sup>up</sup></div>
    </a>

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>
    
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item" id="dash">
        <a class="nav-link" href="{% url 'index' %}">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Início</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Clientes
    </div>

    <!-- Nav Item - Cadastro de clientes -->
    <li class="nav-item" id="clientes">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-fw fa-wrench"></i>
            <span>Gerenciar clientes</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Clientes:</h6>
                <a class="collapse-item" href="{% url 'cadastro_cliente' %}">Cadastro</a>
                <a class="collapse-item" href="/clientes/listarClientes">Listar operações</a>
                <a class="collapse-item" href="/clientes/importar">Importar tabela</a>                        
            </div>
        </div>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Listas
    </div>

    <!-- Nav Item - Gerenciamento de Listas -->
    <li class="nav-item" id="listas">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
            aria-expanded="true" aria-controls="collapsePages">
            <i class="fas fa-fw fa-folder"></i>
            <span>Gerenciar Listas</span>
        </a>
        <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Listas:</h6>
                <a class="collapse-item" href="/Listas/novaLista">Gerenciamento de Listas</a>
                <a class="collapse-item" href="/Listas/relatorios">Relatório de Envio</a>                        
            </div>
        </div>
    </li>
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">            

    <!-- Sidebar Message -->
    <div class="sidebar-card">
        <img class="sidebar-card-illustration mb-2" src="{% static 'img/undraw_rocket.svg' %}" alt="">
        <p class="text-center mb-2"><strong>RL Software</strong> oferece os melhores sistemas, quer saber mais?</p>
        <a class="btn btn-success btn-sm" href="https://startbootstrap.com/theme/sb-admin-pro">Saiba mais!</a>
    </div>

</ul>
<!-- End of Sidebar -->