{% extends "webpage/base/main.html" %}
{% load static %}

{% block title %} Principal - VozSMS {% endblock %}

{% block content %}

    <!-- Begin Page Content -->
    <div class="container-fluid h-100">

        <!-- Content Row -->
        <div class="h-100 row justify-content-center align-items-center">                                
            <img src="{% static 'img/Logo-Grupo-VOZ.png' %}" class="img-fluid rounded mx-auto d-block align-middle" style="width:50%">
        </div>                    

    </div>
    <!-- /.container-fluid -->

{% endblock %}